<!DOCTYPE html>
<html lang="en">
<head>

  <title>Playlist Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="../static/css/site.css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</head>
<body>
  <div class="jumbotron text-center">
    <h1>Magic Music Generator</h1> <span class="badge badge-warning">by marcify</span>
  </div>
    
  <div class="container">    
    <div class="row mt-4 justify-content-center">
      <div class="col-md-5"> 
        <h2>Looking for new music which you definitely like?</h2>
        <br>
        <br>
        <div>
          <p>Here is what you need to do:</p>
        </div>
          <ol>
            <li>Click on the button.</li>
            <li>Log in to Spotify.</li>
            <li>Create a new playlist and have fun.</li>
          <ol>
          </div>
        </div>
      </div>
      
  <div class="container">
    <div class="row mt-4 justify-content-center">
      <div class="col-md-5">
        <br>
        <br>
        <br>
        <form action="{{ url_for('index') }}" method="GET">
          <button type="submit" class="btn btn-block btn-success btn-lg" id="typewriter">Go Generator Go</button>
        </form>
      </div>
    </div>
  </div>


</body>
</html>
